	body{
		/*background: url("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQs1OHT8Le6KofFJu4RMQvC3ZFLApt5zmeOFXGybkSAjRgbl2npkA") 50% ;*/
		background: url(https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQ7nd8_gvTg_mnJfZPWuTY8IF4OUVR3W2XPlpjdf8oMXLmOrrLhfQ);
		/*background-color: silver;*/
		/*opacity: 0.4;*/
	}
	.body{
		width: 76%;
		height: auto;
		/*background: url(https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQ7nd8_gvTg_mnJfZPWuTY8IF4OUVR3W2XPlpjdf8oMXLmOrrLhfQ);*/
		/*background: url("http://thumbs.dreamstime.com/z/luxury-silver-floral-wallpaper-pattern-black-seamless-book-cover-border-image-illustration-31568936.jpg") 0% 148%;*/
		background-color: ivory;
		margin: 1.5% 0% 1.5% 11%;
		box-shadow: 14px 14px 21px black;
		border-radius: 0% 0% 0% 0%;
		border: 4px solid black; 
	}
	.header{
		font-family: Edwardian Script ITC;
		font-size: 2.7vw;
		text-align: center;
		padding-bottom: .5%;
		margin: 0; 
	}
	.logo{
		margin: auto;
	}
	.slogan{
		margin: auto;
		font-family: castellar;
	}
	.menu{
		display: inline-block;
		/*font-size: 2.1vmin;*/
		/*option 2*/
		margin: auto 3% auto 3%;
	    padding: .5%;
	    font-size: 1.7vmax;
		/*margin: 0.75% 2.3% 0% 2.3%;*/
		/*font-size: 2.5vmin;*/
		/*option 2*/
		text-align: center;
		/*margin: 2% 2% 0.75% 2%;*/
		color: black;
	}
	.links{
		margin-bottom: 0.5%;
		/*color: black;*/
		/*option 2*/
		color: whitesmoke;
		/*option 2*/
		text-decoration: none;
	}
	.links:hover{
		/*color: red;*/
		/*option 2*/
		color: black;
		/*option 2*/
	}
	.topMenu{
		/*option 2*/
		background-color: #B30505;
		height: 4.21%;
	    margin: auto;
	    margin-top: 1vmax;
		box-shadow: 4px -6px 14px black;
		/*option 2*/
		text-align: center;
		/*margin: -5% 0% 0% 0%;*/
		border-bottom: 2px solid black;
	}
	.carousel{
		/*background: url(https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQ7nd8_gvTg_mnJfZPWuTY8IF4OUVR3W2XPlpjdf8oMXLmOrrLhfQ);*/
		/*background: url("http://thumbs.dreamstime.com/z/luxury-silver-floral-wallpaper-pattern-black-seamless-book-cover-border-image-illustration-31568936.jpg") 0% 148%;*/
		/*background: url("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQs1OHT8Le6KofFJu4RMQvC3ZFLApt5zmeOFXGybkSAjRgbl2npkA") 50% ;*/
		/*margin-top: 5%;*/
		max-width: 100%;
		background-color: #E3E2E2;
	}
	#wowslider-container1 .ws_images {
	    position: relative;
	    left: 0;
	    top: 0;
	    height: 100%;
	    max-height: 3040px;
	    max-width: 100%;
	    vertical-align: top;
	    border-top: 0px solid black; 
		border-bottom: 0px solid black; 
	    overflow: hidden;
	}
	.pics{
		max-width: 100%;
		max-height: 20%;
		border: 1px solid black;
	}
	.OurPhilosophy{
		font-size: 3.5vh;
	    color: black;
	    background-color: #E3E2E2;
	    padding: 1% 0% 0% 0%;
	    text-align: center;
	    font-family: serif;
	    margin: auto;
	}
	.OurPhilosophys{
	    color: black;
	    font-size: 2vw;
	    padding: 1% 0% 0% 0%;
	    margin: auto;
	    font-style: italic;
	    font-weight: bold;
	}
	.Philosophy{
		font-size: 1.5vw;
		color: black;
	    padding: 1% 0% 1% 0%;
	    text-align: left;
	}
	span{
		color: red;
		font-weight: bold;
	}
	.belt{
		width: 100%;
		height: 4.21%;
		max-height: 4.21%;
		/*margin-bottom: 1.5%;*/
		border-top: 2px solid black;
		margin: 0% 0% 1.5% 0%;
		background-color: #B30505;
		box-shadow: 4px 6px 14px black;
	}
	.portfilio{
	    background-color: #E3E2E2;
	    padding: 1%;
	}
	.title{
		text-align: center;
		font-family: Edwardian Script ITC;
		font-size: 6.3vmin;
    	margin: 1% 0 1% 0;
    	text-decoration: underline;
	}
	.contactUs{
		/*font-size: 3.5vh;*/
	    color: black;
	    background-color: #E3E2E2;
	    padding: 1%;
	    text-align: center;
	    font-family: serif;
	    margin: auto;
		font-size: 2.7vh;
		color: black;
	}
	.photos{
		display: inline-block;
		max-width: 29%;
		margin: 1% -7% 2% 14%;
	}
	.photo{
		max-width: 100%;
		max-height: 60%;
		margin: 1% 0% 0% 15%;
		box-shadow: 0px 10px 27px black;
		border: 1px solid black;
		border-radius: 10%;
	}
	.Services{
		font-size: 2.5vh;
	    color: black;
	    background-color: #E3E2E2;
	    padding: 1%;
	    text-align: center;
	    font-family: serif;
	}
	.package{
		font-family: Kunstler Script, Palace Script MT, Edwardian Script ITC;
		color: red;
		font-size: 11vmin;
		text-align: center;
		/*padding-top: .25em;*/
		margin: 0; 
	}
	.names{
		color: red;
		font-style: italic;
		text-align: center;
	}
	.descriptions{
		margin: 0% 3% 1% 3%;
		font-size: 1.25em; 
		text-align: center;
		color: black;
		font-weight: bold;
	}
	.footer{
		text-align: center;
	}
	p{
		text-align: center;
		margin: auto 3% auto 3%;
	    padding: .5%;
	    font-size: 1.4vmax;
		/*color: black;*/
		color: white;
	}
	.p{
		text-align: center;
		font-size: 1.1vmax;
		margin: 0% 0% 1% 0%;
		color: black;
		/*color: white;*/
	}
	.email{
		color: black;
		/*color: white;*/
	}
	.icons{
		max-width: 4.9vmin;
	}